<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="http://nif.org.in">NIF India</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/employee">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/leave">Leave</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/fieldtrip">Field Trip</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin">Admin</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
